# Dataframes
**By Jorge S. Ruiz**
 - This is an introduction about how to use Dataframes in Spark.
 - Dataframes can be used as SQL tables.
 - Dataframes have better optimization because they use Catalyst as query optimization and Tugsten as execution engine.

## Creating a dataframe from csv file

In [1]:
# Libraries
from pyspark import SparkContext
from pyspark.sql import SparkSession

# Libraries for Datatypes (dataframes)
from pyspark.sql.types import StructType, StructField 
from pyspark.sql.types import IntegerType, StringType, FloatType
from pyspark.sql.types import Row

# Library for SQL
from pyspark.sql import SQLContext

In [2]:
# Initializing Spark
spark = SparkContext(master='local', appName='Dataframes')
# Initializing SQL Context
sqlContext = SQLContext(spark)

In [3]:
!ls /home/lastorder/Documents/curso-apache-spark-platzi/files

deporte.csv	 deportistaError.csv  modelo_relacional.jpg
deportista2.csv  evento.csv	      paises.csv
deportista.csv	 juegos.csv	      resultados.csv

In [4]:
# Linux command to check the file content
!head -n 4 /home/lastorder/Documents/curso-apache-spark-platzi/files/juegos.csv

,nombre_juego,annio,temporada,ciudad
1,1896 Verano,1896,Verano,Athina
2,1900 Verano,1900,Verano,Paris
3,1904 Verano,1904,Verano,St. Louis

In [5]:
# Creating the PATH to csv files.
path = '/home/lastorder/Documents/curso-apache-spark-platzi/files/'

In [6]:
# First we need to create a schema with the information of the columns:
# Struct file helpus to indicate the parameters of the columns of the DF
# The fields are, name of the column, datatype and if the column is an optional field.
# False indicates that the column is a necessary field and true indicates that is optional.

gameSchema = StructType([
    StructField('game_id',IntegerType(),False),
    StructField('year',StringType(),False),
    StructField('season',StringType(),False),
    StructField('city',StringType(),False)
])

# Now we can create the dataframe using our previous Schema.

gameDF = sqlContext.read.schema(gameSchema).option('header','true') \
    .csv(path+'juegos.csv')

In [7]:
# In dataframes we can use "show" to obtain a better data visualization
gameDF.show(10)

+-------+-------------+------+--------+
|game_id|         year|season|    city|
+-------+-------------+------+--------+
|      1|  1896 Verano|  1896|  Verano|
|      2|  1900 Verano|  1900|  Verano|
|      3|  1904 Verano|  1904|  Verano|
|      4|  1906 Verano|  1906|  Verano|
|      5|  1908 Verano|  1908|  Verano|
|      6|  1912 Verano|  1912|  Verano|
|      7|  1920 Verano|  1920|  Verano|
|      8|1924 Invierno|  1924|Invierno|
|      9|  1924 Verano|  1924|  Verano|
|     10|1928 Invierno|  1928|Invierno|
+-------+-------------+------+--------+
only showing top 10 rows

In [8]:
# To access to Spark UI console, we use just "spark" command and click on Spark UI
spark

## Using a Extract from RDDs Notebook

In [9]:
# Exporting 2 RDDs, the first one contains the header and the second one contains the data.
OlimpicAthleteRDD = spark.textFile(path+'deportista.csv').map(lambda l : l.split(','))
OlimpicAthleteRDD2 = spark.textFile(path+'deportista2.csv').map(lambda l : l.split(','))

# To make a union between the RDDs we can use:
OlimpicAthleteRDD = OlimpicAthleteRDD.union(OlimpicAthleteRDD2)

In [10]:
# To make sure that the data is not corrupted, we can use count() to verify that spark is working correctly
# with that data
OlimpicAthleteRDD.count()

135572

In [11]:
# To see the first 10 rows of the RDD, we use top function (similar to SQL)
OlimpicAthleteRDD.take(5)

[['deportista_id', 'nombre', 'genero', 'edad', 'altura', 'peso', 'equipo_id'],
 ['1', 'A Dijiang', '1', '24', '180', '80', '199'],
 ['2', 'A Lamusi', '1', '23', '170', '60', '199'],
 ['3', 'Gunnar Nielsen Aaby', '1', '24', '0', '0', '273'],
 ['4', 'Edgar Lindenau Aabye', '1', '34', '0', '0', '278']]

In [12]:
# Removing the header of the RDD
# 'iter' function, returns all values of we process in the function

def removeHeader(index, iterator):
    """A fuction that removes the header from a dataset or RDD"""
    return iter(list(iterator)[1:])

In [13]:
# We map the RDD assigning a index (this maps rows and columns per index)
# Now we can use a function that will take action in all rows and columns on the RDD.
OlimpicAthleteRDD_clean = OlimpicAthleteRDD.mapPartitionsWithIndex(removeHeader)

In [14]:
# To see if the header is gone
OlimpicAthleteRDD_clean.take(5)

[['1', 'A Dijiang', '1', '24', '180', '80', '199'],
 ['2', 'A Lamusi', '1', '23', '170', '60', '199'],
 ['3', 'Gunnar Nielsen Aaby', '1', '24', '0', '0', '273'],
 ['4', 'Edgar Lindenau Aabye', '1', '34', '0', '0', '278'],
 ['5', 'Christine Jacoba Aaftink', '2', '21', '185', '82', '705']]

In [15]:
# To transform the values of the RDD
# For that we are goint to make a mapping

OlimpicAthleteRDD_clean = OlimpicAthleteRDD_clean.map(lambda l: (
    int(l[0]),
    l[1],
    int(l[2]),
    int(l[3]),
    int(l[4]),
    float(l[5]),
    int(l[6])    
))

In [16]:
# We ned to define a new Schema:

schema = StructType([
    StructField('athlete_id', IntegerType(),False),
    StructField('name', StringType(),False),
    StructField('gender', IntegerType(),False),
    StructField('age', IntegerType(),False),
    StructField('height', IntegerType(),False),
    StructField('weight', FloatType(),False),
    StructField('team_id', IntegerType(),False),
])

In [17]:
# Creating a dataframe with sqlContext, using an existing RDD and a Schema
AthleteDF = sqlContext.createDataFrame(OlimpicAthleteRDD_clean, schema)

In [18]:
# To prove everything is correct with our new DF, we can use show function
AthleteDF.show(10)

+----------+--------------------+------+---+------+------+-------+
|athlete_id|                name|gender|age|height|weight|team_id|
+----------+--------------------+------+---+------+------+-------+
|         1|           A Dijiang|     1| 24|   180|  80.0|    199|
|         2|            A Lamusi|     1| 23|   170|  60.0|    199|
|         3| Gunnar Nielsen Aaby|     1| 24|     0|   0.0|    273|
|         4|Edgar Lindenau Aabye|     1| 34|     0|   0.0|    278|
|         5|Christine Jacoba ...|     2| 21|   185|  82.0|    705|
|         6|     Per Knut Aaland|     1| 31|   188|  75.0|   1096|
|         7|        John Aalberg|     1| 31|   183|  72.0|   1096|
|         8|Cornelia Cor Aalt...|     2| 18|   168|   0.0|    705|
|         9|    Antti Sami Aalto|     1| 26|   186|  96.0|    350|
|        10|Einar Ferdinand E...|     1| 26|     0|   0.0|    350|
+----------+--------------------+------+---+------+------+-------+
only showing top 10 rows

In [19]:
# To see the explicit values without format we use "take" function
AthleteDF.take(10)

[Row(athlete_id=1, name='A Dijiang', gender=1, age=24, height=180, weight=80.0, team_id=199),
 Row(athlete_id=2, name='A Lamusi', gender=1, age=23, height=170, weight=60.0, team_id=199),
 Row(athlete_id=3, name='Gunnar Nielsen Aaby', gender=1, age=24, height=0, weight=0.0, team_id=273),
 Row(athlete_id=4, name='Edgar Lindenau Aabye', gender=1, age=34, height=0, weight=0.0, team_id=278),
 Row(athlete_id=5, name='Christine Jacoba Aaftink', gender=2, age=21, height=185, weight=82.0, team_id=705),
 Row(athlete_id=6, name='Per Knut Aaland', gender=1, age=31, height=188, weight=75.0, team_id=1096),
 Row(athlete_id=7, name='John Aalberg', gender=1, age=31, height=183, weight=72.0, team_id=1096),
 Row(athlete_id=8, name='Cornelia Cor Aalten Strannood ', gender=2, age=18, height=168, weight=0.0, team_id=705),
 Row(athlete_id=9, name='Antti Sami Aalto', gender=1, age=26, height=186, weight=96.0, team_id=350),
 Row(athlete_id=10, name='Einar Ferdinand Einari Aalto', gender=1, age=26, height=0, weight=0.0, team_id=350)]

In [20]:
# Creating another Dataframe from RDD
CountriesRDD = spark.textFile(path+"paises.csv")\
    .map(lambda line : line.split(","))

CountriesRDD = CountriesRDD.mapPartitionsWithIndex(removeHeader)


CountriesRDD = CountriesRDD.map(lambda l: (
    int(l[0]),
    l[1],
    l[2]
))

CountriesSchema = StructType([
    StructField('team_id', IntegerType(),False),
    StructField('team_name', StringType(),False),
    StructField('country_name', StringType(),False)
])

CountriesDF = sqlContext.createDataFrame(CountriesRDD, CountriesSchema)

In [21]:
CountriesDF.show(10)

+-------+--------------------+------------+
|team_id|           team_name|country_name|
+-------+--------------------+------------+
|      1|         30. Februar|         AUT|
|      2|A North American ...|         MEX|
|      3|           Acipactli|         MEX|
|      4|             Acturus|         ARG|
|      5|         Afghanistan|         AFG|
|      6|            Akatonbo|         IRL|
|      7|            Alain IV|         SUI|
|      8|             Albania|         ALB|
|      9|              Alcaid|         POR|
|     10|            Alcyon-6|         FRA|
+-------+--------------------+------------+
only showing top 10 rows

In [22]:
# Creating a Dataframefrom csv with a schema (without using an RDD)
OlympicSportsRDDSchema = StructType([
    StructField('sport_id', IntegerType(),False),
    StructField('sport_name', StringType(),False)
])

sportsDF = sqlContext.read.schema(OlympicSportsRDDSchema).option('header','true') \
    .csv(path+'deporte.csv')

In [23]:
sportsDF.show(10)

+--------+--------------------+
|sport_id|          sport_name|
+--------+--------------------+
|       1|          Basketball|
|       2|                Judo|
|       3|            Football|
|       4|          Tug-Of-War|
|       5|       Speed Skating|
|       6|Cross Country Skiing|
|       7|           Athletics|
|       8|          Ice Hockey|
|       9|            Swimming|
|      10|           Badminton|
+--------+--------------------+
only showing top 10 rows

In [24]:
# In the same way, we can create as many datasets as we want.
# All we need is to define an schema and import the csv file.
EventsRDDSchema = StructType([
    StructField('event_id', IntegerType(),False),
    StructField('event_name', StringType(),False),
    StructField('sport_id', IntegerType(),False)
])

OlympicEventsDF = sqlContext.read.schema(EventsRDDSchema).option('header','true') \
    .csv(path+'evento.csv')

In [25]:
OlympicEventsDF.show(10)

+--------+--------------------+--------+
|event_id|          event_name|sport_id|
+--------+--------------------+--------+
|       1|Basketball Men's ...|       1|
|       2|Judo Men's Extra-...|       2|
|       3|Football Men's Fo...|       3|
|       4|Tug-Of-War Men's ...|       4|
|       5|Speed Skating Wom...|       5|
|       6|Speed Skating Wom...|       5|
|       7|Cross Country Ski...|       6|
|       8|Cross Country Ski...|       6|
|       9|Cross Country Ski...|       6|
|      10|Cross Country Ski...|       6|
+--------+--------------------+--------+
only showing top 10 rows

In [26]:
GamesRDDSchema = StructType([
    StructField('game_id', IntegerType(),False),
    StructField('year', StringType(),False),
    StructField('season', StringType(),False),
    StructField('city', StringType(),False)
])

GamesDF = sqlContext.read.schema(GamesRDDSchema).option('header','true') \
    .csv(path+'juegos.csv')

In [27]:
GamesDF.show(10)

+-------+-------------+------+--------+
|game_id|         year|season|    city|
+-------+-------------+------+--------+
|      1|  1896 Verano|  1896|  Verano|
|      2|  1900 Verano|  1900|  Verano|
|      3|  1904 Verano|  1904|  Verano|
|      4|  1906 Verano|  1906|  Verano|
|      5|  1908 Verano|  1908|  Verano|
|      6|  1912 Verano|  1912|  Verano|
|      7|  1920 Verano|  1920|  Verano|
|      8|1924 Invierno|  1924|Invierno|
|      9|  1924 Verano|  1924|  Verano|
|     10|1928 Invierno|  1928|Invierno|
+-------+-------------+------+--------+
only showing top 10 rows

In [28]:
ResultsRDDSchema = StructType([
    StructField('result_id', IntegerType(),False),
    StructField('medal', StringType(),False),
    StructField('athlete_id', IntegerType(),False),
    StructField('game_id', IntegerType(),False),
    StructField('event_id', IntegerType(),False)
])

ResultsDF = sqlContext.read.schema(ResultsRDDSchema).option('header','true') \
    .csv(path+'resultados.csv')

In [29]:
ResultsDF.take(10)

[Row(result_id=1, medal='NA', athlete_id=1, game_id=39, event_id=1),
 Row(result_id=2, medal='NA', athlete_id=2, game_id=49, event_id=2),
 Row(result_id=3, medal='NA', athlete_id=3, game_id=7, event_id=3),
 Row(result_id=4, medal='Gold', athlete_id=4, game_id=2, event_id=4),
 Row(result_id=5, medal='NA', athlete_id=5, game_id=36, event_id=5),
 Row(result_id=6, medal='NA', athlete_id=5, game_id=36, event_id=6),
 Row(result_id=7, medal='NA', athlete_id=5, game_id=38, event_id=5),
 Row(result_id=8, medal='NA', athlete_id=5, game_id=38, event_id=6),
 Row(result_id=9, medal='NA', athlete_id=5, game_id=40, event_id=5),
 Row(result_id=10, medal='NA', athlete_id=5, game_id=40, event_id=6)]

In [30]:
# A way to see the structure of the schema is with the next command:
sportsDF.printSchema()
# Because sometimes we won't have the schema details.

root
 |-- sport_id: integer (nullable = true)
 |-- sport_name: string (nullable = true)

In [31]:
AthleteDF.printSchema()

root
 |-- athlete_id: integer (nullable = false)
 |-- name: string (nullable = false)
 |-- gender: integer (nullable = false)
 |-- age: integer (nullable = false)
 |-- height: integer (nullable = false)
 |-- weight: float (nullable = false)
 |-- team_id: integer (nullable = false)

In [32]:
# To modify columns we use:
# We also drop columns with drop command

AthleteDF2 = AthleteDF.withColumnRenamed('gender','gender_athlete').drop('height')

In [33]:
AthleteDF2.printSchema()

root
 |-- athlete_id: integer (nullable = false)
 |-- name: string (nullable = false)
 |-- gender_athlete: integer (nullable = false)
 |-- age: integer (nullable = false)
 |-- weight: float (nullable = false)
 |-- team_id: integer (nullable = false)

In [34]:
# Libraries to work with SQL commands in Spark
from pyspark.sql.functions import *

In [35]:
# Col function i to operate directly in the column header. it works differect 
# that a simple DF function
# Col works only with a certain column (don't run over the entire dataframe)
# Col created a list with the columns headers to operate with them.
# In this case we use col to rename a column
AthleteDF_select = AthleteDF2.select('athlete_id',
                  'name',
                  col('age').alias('PlayAge'),
                  'team_id')

In [36]:
AthleteDF_select.show(10)

+----------+--------------------+-------+-------+
|athlete_id|                name|PlayAge|team_id|
+----------+--------------------+-------+-------+
|         1|           A Dijiang|     24|    199|
|         2|            A Lamusi|     23|    199|
|         3| Gunnar Nielsen Aaby|     24|    273|
|         4|Edgar Lindenau Aabye|     34|    278|
|         5|Christine Jacoba ...|     21|    705|
|         6|     Per Knut Aaland|     31|   1096|
|         7|        John Aalberg|     31|   1096|
|         8|Cornelia Cor Aalt...|     18|    705|
|         9|    Antti Sami Aalto|     26|    350|
|        10|Einar Ferdinand E...|     26|    350|
+----------+--------------------+-------+-------+
only showing top 10 rows

In [37]:
# Sorting by PlayAge values in descending from:
AthleteDF_select.sort('PlayAge').show()
# We can see that there are some incorrect values with 0

+----------+--------------------+-------+-------+
|athlete_id|                name|PlayAge|team_id|
+----------+--------------------+-------+-------+
|       224|     Mohamed AbdelEl|      0|    308|
|       487|      Inni Aboubacar|      0|    721|
|       226|Sanad Bushara Abd...|      0|   1003|
|        58|    Georgi Abadzhiev|      0|    154|
|       230|    Moustafa Abdelal|      0|    308|
|       102|   Sayed Fahmy Abaza|      0|    308|
|       260|  Ahmed Abdo Mustafa|      0|   1003|
|       139|George Ioannis Abbot|      0|   1043|
|       281|      S. Abdul Hamid|      0|    487|
|       163|     Ismail Abdallah|      0|   1095|
|       285|Talal Hassoun Abd...|      0|    497|
|       173| Mohamed Abdel Fatah|      0|   1003|
|       179|Ibrahim Saad Abde...|      0|   1003|
|       378|     Angelik Abebame|      0|      0|
|       294|Mohamed Ghulom Ab...|      0|     81|
|       186| Mohamed Abdel Hafiz|      0|   1095|
|       300|     A. Abdul Razzak|      0|    497|
|       190| Ibrahim Abdel Hamid|      0|    308|
|       301|Mohamed Abdul Razzak|      0|    497|
|       209|Ibrahim Abdel Rahman|      0|   1095|
+----------+--------------------+-------+-------+
only showing top 20 rows

In [38]:
# To avoid 0 values, we will use a filter with a condition (similar to WHERE in SQL)
AthleteDF_filter = AthleteDF_select.filter(AthleteDF_select.PlayAge != 0)

In [39]:
# We can see that the youngest athlete in participated in olympic games was
# a 10 years child.
AthleteDF_filter.sort('PlayAge').show()

+----------+--------------------+-------+-------+
|athlete_id|                name|PlayAge|team_id|
+----------+--------------------+-------+-------+
|     71691|  Dimitrios Loundras|     10|    333|
|     70616|          Liu Luyang|     11|    199|
|    118925|Megan Olwen Deven...|     11|    413|
|     52070|        Etsuko Inada|     11|    514|
|     22411|Magdalena Cecilia...|     11|    413|
|     40129|    Luigina Giavotti|     11|    507|
|     47618|Sonja Henie Toppi...|     11|    742|
|     76675|   Marcelle Matthews|     11|    967|
|     37333|Carlos Bienvenido...|     11|    982|
|     51268|      Beatrice Hutiu|     11|    861|
|    126307|        Liana Vicens|     11|    825|
|     48939|             Ho Gang|     12|    738|
|     49142|        Jan Hoffmann|     12|    302|
|     42835|   Werner Grieshofer|     12|     71|
|     54620|Belita Gladys Lyn...|     12|    413|
|     31203|Patricia Anne Pat...|     12|    967|
|     43528|Antoinette Joyce ...|     12|    172|
|     46578|        Diana Hatler|     12|    825|
|     59727|Marika Kilius Zah...|     12|    399|
|     40296|    Alain C. Giletti|     12|    362|
+----------+--------------------+-------+-------+
only showing top 20 rows

## Dataframe JOIN

In [40]:
# First, we need to check the schema's structures
AthleteDF.printSchema()

root
 |-- athlete_id: integer (nullable = false)
 |-- name: string (nullable = false)
 |-- gender: integer (nullable = false)
 |-- age: integer (nullable = false)
 |-- height: integer (nullable = false)
 |-- weight: float (nullable = false)
 |-- team_id: integer (nullable = false)

In [41]:
ResultsDF.printSchema()

root
 |-- result_id: integer (nullable = true)
 |-- medal: string (nullable = true)
 |-- athlete_id: integer (nullable = true)
 |-- game_id: integer (nullable = true)
 |-- event_id: integer (nullable = true)

In [42]:
GamesDF.printSchema()

root
 |-- game_id: integer (nullable = true)
 |-- year: string (nullable = true)
 |-- season: string (nullable = true)
 |-- city: string (nullable = true)

In [43]:
OlympicEventsDF.printSchema()

root
 |-- event_id: integer (nullable = true)
 |-- event_name: string (nullable = true)
 |-- sport_id: integer (nullable = true)

In [44]:
# for join parameters, the first one is the table we want to join (in this case ResultsDF)
# next we need to introduce the condition (similar to JOIN - ON in SQL), and the kind of join (inner, left, etc)
AthleteDF.join(
                ResultsDF, 
                AthleteDF.athlete_id == ResultsDF.athlete_id,
                'left'
                ) \
         .join(
                GamesDF,
                ResultsDF.game_id == GamesDF.game_id,
                'left'
                ) \
         .join(
                OlympicEventsDF,
                ResultsDF.event_id == OlympicEventsDF.event_id,
                'left'
                ) \
         .select(
                AthleteDF.name.alias('athlete_name'), 
                col('age').alias('PlayAge'),
                'medal',
                col('year').alias('PlayYear'),
                OlympicEventsDF.event_name.alias('discipline_name')
                ).show()

+--------------------+-------+-----+-------------+--------------------+
|        athlete_name|PlayAge|medal|     PlayYear|     discipline_name|
+--------------------+-------+-----+-------------+--------------------+
|           A Dijiang|     24|   NA|  1992 Verano|Basketball Men's ...|
|            A Lamusi|     23|   NA|  2012 Verano|Judo Men's Extra-...|
| Gunnar Nielsen Aaby|     24|   NA|  1920 Verano|Football Men's Fo...|
|Edgar Lindenau Aabye|     34| Gold|  1900 Verano|Tug-Of-War Men's ...|
|Christine Jacoba ...|     21|   NA|1994 Invierno|Speed Skating Wom...|
|Christine Jacoba ...|     21|   NA|1994 Invierno|Speed Skating Wom...|
|Christine Jacoba ...|     21|   NA|1992 Invierno|Speed Skating Wom...|
|Christine Jacoba ...|     21|   NA|1992 Invierno|Speed Skating Wom...|
|Christine Jacoba ...|     21|   NA|1988 Invierno|Speed Skating Wom...|
|Christine Jacoba ...|     21|   NA|1988 Invierno|Speed Skating Wom...|
|     Per Knut Aaland|     31|   NA|1994 Invierno|Cross Country Ski...|
|     Per Knut Aaland|     31|   NA|1994 Invierno|Cross Country Ski...|
|     Per Knut Aaland|     31|   NA|1994 Invierno|Cross Country Ski...|
|     Per Knut Aaland|     31|   NA|1994 Invierno|Cross Country Ski...|
|     Per Knut Aaland|     31|   NA|1992 Invierno|Cross Country Ski...|
|     Per Knut Aaland|     31|   NA|1992 Invierno|Cross Country Ski...|
|     Per Knut Aaland|     31|   NA|1992 Invierno|Cross Country Ski...|
|     Per Knut Aaland|     31|   NA|1992 Invierno|Cross Country Ski...|
|        John Aalberg|     31|   NA|1994 Invierno|Cross Country Ski...|
|        John Aalberg|     31|   NA|1994 Invierno|Cross Country Ski...|
+--------------------+-------+-----+-------------+--------------------+
only showing top 20 rows

In [45]:
# Platzi Challenge !!
# Filtering result with medals
# join with countries and and athletes
# then sorting the results by a column in a descending form
ResultsDF.filter(ResultsDF.medal != 'NA') \
    .join(
           AthleteDF, 
           AthleteDF.athlete_id == ResultsDF.athlete_id,
           'left'
          ) \
    .join(
           CountriesDF,
           CountriesDF.team_id == AthleteDF.team_id,
           'left'
          ) \
    .select('medal','team_name','country_name') \
    .sort( col('country_name').desc()).show()

+------+---------+------------+
| medal|team_name|country_name|
+------+---------+------------+
|  Gold| Zimbabwe|         ZIM|
|  Gold| Zimbabwe|         ZIM|
|  Gold| Zimbabwe|         ZIM|
|Silver| Zimbabwe|         ZIM|
|Silver| Zimbabwe|         ZIM|
|  Gold| Zimbabwe|         ZIM|
|  Gold| Zimbabwe|         ZIM|
|  Gold| Zimbabwe|         ZIM|
|  Gold| Zimbabwe|         ZIM|
|  Gold| Zimbabwe|         ZIM|
|  Gold| Zimbabwe|         ZIM|
|  Gold| Zimbabwe|         ZIM|
|  Gold| Zimbabwe|         ZIM|
|  Gold| Zimbabwe|         ZIM|
|  Gold| Zimbabwe|         ZIM|
|  Gold| Zimbabwe|         ZIM|
|Silver| Zimbabwe|         ZIM|
|Bronze| Zimbabwe|         ZIM|
|Silver| Zimbabwe|         ZIM|
|  Gold| Zimbabwe|         ZIM|
+------+---------+------------+
only showing top 20 rows